html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    fieldset.collapsed {
      height: auto;
    }
    input.form-autocomplete {
      background-image: none;
    }
  }
}

body {
  position: relative;
  &.admin-expanded.admin-vertical {
    &.admin-nw .navbar, &.admin-sw .navbar {
      margin-left: 260px;
    }
  }
  &.navbar-is-fixed-top {
    padding-top: 64px !important;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: 64px !important;
  }
  &.toolbar {
    padding-top: 30px !important;
    .navbar-fixed-top {
      top: 30px;
    }
    &.navbar-is-fixed-top {
      padding-top: 94px !important;
    }
  }
  &.toolbar-drawer {
    padding-top: 64px !important;
    .navbar-fixed-top {
      top: 64px;
    }
    &.navbar-is-fixed-top {
      padding-top: 128px !important;
    }
  }
  &.admin-menu {
    .navbar-fixed-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }
  div#admin-toolbar {
    z-index: 1600;
  }
  #toolbar, #admin-menu, #admin-toolbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
    .dropdown li {
      line-height: normal;
    }
  }
}

.navbar.container {
  > .container {
    margin: 0;
    padding: 0;
    width: auto;
  }
}

#overlay-container, .overlay-modal-background, .overlay-element {
  z-index: 1500;
}

#toolbar {
  z-index: 1600;
}

.modal {
  z-index: 1620;
}

.modal-dialog {
  z-index: 1630;
}

.modal-backdrop {
  z-index: 1610;
}

.footer {
  margin-top: 3em; // 45px;
  padding-top: 2.2em; // 35px;
  padding-bottom: 2.25em; // 36px;
  border-top: 1px solid #E5E5E5;
}

.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}

ul.secondary {
  float: left;
}

@media screen and (min-width: 768px) {
  ul.secondary {
    float: right;
  }
}

.page-header, .block:first-child h2.block-title {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.region-help {
  > .glyphicon {
    font-size: 18px;
    float: left;
    margin: -.05em .5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

form#search-block-form {
  margin: 0;
}

.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}

@media screen and (min-width: 992px) {
  .navbar #block-search-form {
    float: right;
  }
}

.navbar-search .control-group {
  margin-bottom: 0;
}

ul.action-links {
  margin: 12px 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0 6px 0 0;
  }
  .glyphicon {
    padding-right: .5em;
  }
}

input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}

input.error {
  color: $brand-warning; // #b94a48;
  border-color: #ebccd1;
}

fieldset {
  legend.panel-heading {
    float: left;
    line-height: 1em;
    margin: 0;
  }
  .panel-body {
    clear: both;
  }
  .panel-heading a.panel-title {
    color: inherit;
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
    &:hover {
      text-decoration: none;
    }
  }
}

legend {
  font-size: inherit;
}

.form-actions {
  clear: both;
}

.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}

.radio:first-child, .checkbox:first-child {
  margin-top: 0;
}

.radio:last-child, .checkbox:last-child {
  margin-bottom: 0;
}

.help-block, .control-group .help-inline {
  color: #999;
  font-size: .8em; // 12px;
  margin: 5px 0 10px;
  padding: 0;
}

.panel-heading {
  display: block;
}

.panel-title {
  font-size: inherit;
}

a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}

.error {
  color: #b94a48;
}

div.error, table tr.error {
  background-color: #f2dede;
  color: #b94a48;
}

.control-group.error {
  background: 0;
  label, .control-label {
    color: #b94a48;
    font-weight: 600;
  }
  input, textarea, select, .uneditable-input {
    color: #555;
    border: 1px solid #ccc;
  }
  .help-block, .help-inline {
    color: #333;
  }
}

.nav-tabs {
  margin-bottom: 10px;
}

ul li {
  &.collapsed, &.expanded, &.leaf {
    list-style: none;
    list-style-image: none;
  }
}

.tabs--secondary {
  margin: 0 0 10px;
}

.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 400;
  color: #777;
}

.password-strength {
  width: 17em;
  float: right;
  margin-top: 1.4em;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  font-weight: 700;
}

.password-indicator {
  background-color: #949494;
  height: .4em;
  width: 100%;
  div {
    height: 100%;
    width: 0;
    background-color: $brand-success;
  }
}

input {
  &.password-confirm, &.password-field {
    width: 16em;
    margin-bottom: .4em;
  }
}

div {
  &.password-confirm {
    float: right;
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
  }
  &.form-item div.password-suggestions {
    padding: .2em .5em;
    margin: .7em 0;
    width: 100%; // 38.5em;
    border: 1px solid #B4B4B4;
  }
  &.password-suggestions ul {
    margin-bottom: 0;
  }
}

.confirm-parent, .password-parent {
  clear: left;
  margin: 0;
  width: 100%; // 36.3em;
}

.progress-wrapper .progress {
  margin-bottom: 10px;
}

.pagination ul > li > a.progress-disabled {
  float: left;
}

.form-autocomplete {
  .glyphicon {
    color: #999;
    font-size: 120%;
    &.glyphicon-spin {
      color: #428bca;
    }
  }
  .input-group-addon {
    background-color: #fff;
  }
}

.ajax-progress .glyphicon {
  font-size: 90%;
  margin: 0 -.25em 0 .5em;
}

.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}


@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}


@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


.glyphicon-refresh {
  -webkit-transform-origin: 50% 45%;
  -moz-transform-origin: 50% 45%;
  -ms-transform-origin: 50% 45%;
  -o-transform-origin: 50% 45%;
  transform-origin: 50% 45%;
}

.tabbable {
  margin-bottom: 20px;
}

.tabs-below > .nav-tabs, .tabs-left > .nav-tabs, .tabs-right > .nav-tabs {
  border-bottom: 0;
}

.tabs-below > .nav-tabs .summary, .tabs-left > .nav-tabs .summary, .tabs-right > .nav-tabs .summary {
  color: #999;
  font-size: 12px;
}

.tab-pane > .panel-heading {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
  > {
    li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        border-radius: 0 0 4px 4px;
        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    .active > a {
      border-color: transparent #ddd #ddd;
      &:hover, &:focus {
        border-color: transparent #ddd #ddd;
      }
    }
  }
}

.tabs-left > .nav-tabs, .tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li:focus, .tabs-right > .nav-tabs > li:focus {
  outline: 0;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs > li > a:focus, .tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}

.tabs-left > .tab-content, .tabs-right > .tab-content {
  border-radius: 0 4px 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 10px 15px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
  > {
    li > a {
      border-radius: 4px 0 0 4px;
      &:hover, &:focus {
        border-color: #eee #ddd #eee #eee;
      }
    }
    .active > a {
      border-color: #ddd transparent #ddd #ddd;
      -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
      &:hover, &:focus {
        border-color: #ddd transparent #ddd #ddd;
        -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
  > {
    li > a {
      border-radius: 0 4px 4px 0;
      &:hover, &:focus {
        border-color: #eee #eee #eee #ddd;
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
      }
    }
    .active > a {
      border-color: #ddd #ddd #ddd transparent;
      &:hover, &:focus {
        border-color: #ddd #ddd #ddd transparent;
      }
    }
  }
}

th.checkbox, td.checkbox, th.radio, td.radio {
  display: table-cell;
}

.views-display-settings {
  .label {
    font-size: 100%;
    color: #666;
  }
  .footer {
    padding: 0;
    margin: 4px 0 0;
  }
}

.radio > input[type=radio], .checkbox > input[type=checkbox] {
  max-width: inherit;
  margin-left: 0;
}

.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}

@media (min-width: 768px) {
  .form-horizontal .form-group label {
    float: left;
    width: 16.666666666666664%;
  }
}

.alert a {
  font-weight: 700;
}

.alert-success a {
  color: #356635;
}

.alert-info a {
  color: #2d6987;
}

.alert-warning a {
  color: $brand-warning; // #a47e3c;
}

.alert-danger a {
  color: #953b39;
}
