/* Have responsive images scale up. */
.img-responsive {
  width: 100%;
}

/* Undo Bootstrap's ill-advised font-size: 0 in _input-groups.scss */
.input-group-btn {
  font-size: inherit;
}

.form-control {
  height: inherit;
}

.links, .nav-tabs, .action-links, .navbar-nav.secondary {
  font-family: $font-family-sans-serif;
  /* Match sans-serif font weight to that of the Merriweather font we chose. */
  font-weight: 300;
}

.node .content p {
  font-size: 1.05em;
}

.node-unpublished {
  background-color: pink;
}

@media print {
  .region-page-top {
    display: none;
  }
  body.toolbar, body.toolbar-drawer {
    padding-top: 0;
  }

  #page-header, #navbar {
    display: none;
  }

  .comment-form {
    display: none;
  }

}

.block-node-syndicate {
  float: right;
}

p {
  margin-bottom: 1em;
}

h1, h2, h3 {
  margin-bottom: 1em;
}

.region-sidebar-second h2 {
  font-size: 1.2em;
  margin-bottom: .8em;
}

.region-sidebar-second .block-facetapi {
  display: none;
}
