//
// Search block.
// --------------------------------------------------

.block-search {
  padding-top: .45em;
}

.form-search input, .form-search button {
  padding-bottom: .2em;
  padding-top: .2em;
}
